.fdr,
.fdrr {
  -webkit-box-orient: horizontal;
}
.pr0,
.px0 {
  padding-right: 0;
}
.pt0,
.py0 {
  padding-top: 0;
}
.pb0,
.py0 {
  padding-bottom: 0;
}
.font-light,
.fw300 {
  font-weight: 300;
}
.bold,
.font-bold,
.fw700 {
  font-weight: 700;
}
.bg-white {
  background-color: var(--white);
}
.color-white,
.cw {
  color: #fff !important;
}
.bg-lt-blue {
  background-color: #5e93db !important;
}
.d-grid {
  display: grid;
}
.tw-column {
  grid-template-columns: 1fr 1fr;
}
.four-column {
  grid-template-columns: 16% 20% 30% 34%;
}
.four-column2 {
  grid-template-columns: 19% 20% 30% 1fr;
}
.three-column {
  grid-template-columns: 2fr 1fr;
}
.fourr-column {
  grid-template-columns: repeat(3, 1fr) !important;
}
.column-gap {
  grid-column-gap: 20px;
}
.wrapper100 {
  width: 100vw;
}
.wrapper95 {
  width: 95vw;
}
.wrapper96 {
  width: 96vw;
}
.wrapper94 {
  width: 94vw;
}
.wrapper93 {
  width: 93vw;
}
.wrapper91 {
  width: 91vw;
}
.wrapper90 {
  width: 90vw;
}
.wrapper86 {
  width: 86vw;
}
.wrapper85 {
  width: 85vw;
}
.wrapper82 {
  width: 82vw;
}
.wrapper80 {
  width: 80vw;
}
.wrapper75 {
  width: 75vw;
}
.wrapper70 {
  width: 70vw;
}
.wrapper65 {
  width: 65vw;
}
.wrapper60 {
  width: 60vw;
}
.wrapper55 {
  width: 55vw;
}
.wrapper50 {
  width: 50vw;
}
.wrapper45 {
  width: 45vw;
}
.wrapper40 {
  width: 40vw;
}
.wrapper35 {
  width: 35vw;
}
.wrapper30 {
  width: 30vw;
}
.wrapper25 {
  width: 25vw;
}
.wrapper20 {
  width: 20vw;
}
.wrapper15 {
  width: 15vw;
}
.wrapper10 {
  width: 10vw;
}
.sizewauto {
  width: auto !important;
}
.sizew100 {
  width: 100% !important;
}
.sizew96 {
  width: 96% !important;
}
.sizew95 {
  width: 95% !important;
}
.sizew92 {
  width: 92% !important;
}
.sizew90 {
  width: 90% !important;
}
.sizew88 {
  width: 88% !important;
}
.sizew84 {
  width: 84% !important;
}
.sizew85 {
  width: 85%;
}
.sizew80 {
  width: 80% !important;
}
.sizew70 {
  width: 70%;
}
.sizew75 {
  width: 75%;
}
.sizew60 {
  width: 60% !important;
}
.sizew65 {
  width: 65% !important;
}
.sizew55 {
  width: 55% !important;
}
.sizew50 {
  width: 50% !important;
}
.sizew40 {
  width: 40% !important;
}
.sizew45 {
  width: 45% !important;
}
.sizew25 {
  width: 25% !important;
}
.sizew35 {
  width: 35% !important;
}
.sizew30 {
  width: 30%;
}
.sizew20 {
  width: 20%;
}
.sizew15 {
  width: 15%;
}
.sizew14 {
  width: 14%;
}
.sizew13 {
  width: 13%;
}
.sizew12 {
  width: 12%;
}
.sizew11 {
  width: 11%;
}
.sizew10 {
  width: 10%;
}
.sizehauto {
  height: auto !important;
}
.fill-height,
.sizeh100 {
  height: 100%;
}
.sizeh90 {
  height: 90%;
}
.sizeh80 {
  height: 80%;
}
.sizeh70 {
  height: 70%;
}
.sizeh60 {
  height: 60%;
}
.sizeh50 {
  height: 50%;
}
.sizeh40 {
  height: 40%;
}
.sizeh30 {
  height: 30%;
}
.sizeh20 {
  height: 20%;
}
.sizeh10 {
  height: 10%;
}
.ht300 {
  height: 300vh;
}
.ht200 {
  height: 200vh;
}
.ht100 {
  height: 100vh;
}
.ht90 {
  height: 90vh;
}
.ht80 {
  height: 80vh;
}
.ht85 {
  height: 85vh;
}
.ht70 {
  height: 70vh;
}
.ht60 {
  height: 60vh;
}
.ht50 {
  height: 50vh;
}
.ht40 {
  height: 40vh;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.absolute,
.overlay:before {
  position: absolute;
}
.pin-top {
  top: 0;
}
.pin-right {
  right: 0;
}
.pin-bottom {
  bottom: 0;
}
.pin-left {
  left: 0;
}
.pin-edges {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.db {
  display: block !important;
}
.di {
  display: inline !important;
}
.dib {
  display: inline-block !important;
}
.dn {
  display: none !important;
}
.df {
  display: -webkit-box;
  display: flex !important;
}
.full {
  display: block;
  width: 100% !important;
}
.flex {
  display: -webkit-box;
  display: flex !important;
  display: -webkit-box;
  display: flex;
}
.flex-one {
  flex: 1;
}
.iflex {
  display: -webkit-inline-box;
  display: inline-flex;
}
.flex-grow {
  -webkit-box-flex: 1;
  flex-grow: 1;
}
.fb100 {
  flex-basis: 100%;
}
.fdr {
  -webkit-box-direction: normal;
  flex-direction: row;
}
.fdrr {
  -webkit-box-direction: reverse;
  flex-direction: row-reverse;
}
.fdc,
.fdcr {
  -webkit-box-orient: vertical;
}
.fdc {
  -webkit-box-direction: normal;
  flex-direction: column;
}
.fdcr {
  -webkit-box-direction: reverse;
  flex-direction: column-reverse;
}
.fwn {
  flex-wrap: nowrap;
}
.fww {
  flex-wrap: wrap;
}
.fwr {
  flex-wrap: wrap-reverse;
}
.jcc {
  -webkit-box-pack: center;
  justify-content: center;
}
.jcsb {
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.jcsa {
  justify-content: space-around;
}
.jcfs {
  -webkit-box-pack: start;
  justify-content: flex-start;
}
.jcfe {
  -webkit-box-pack: end;
  justify-content: flex-end;
}
.aic {
  -webkit-box-align: center;
  align-items: center;
}
.aifs {
  -webkit-box-align: start !important;
  align-items: flex-start !important;
}
.aife {
  -webkit-box-align: end;
  align-items: flex-end !important;
}
.ais {
  -webkit-box-align: stretch;
  align-items: stretch;
}
.aib {
  -webkit-box-align: baseline;
  align-items: baseline;
}
.acc {
  align-content: center;
}
.acfs {
  align-content: flex-start;
}
.acfe {
  align-content: flex-end;
}
.acs {
  align-content: stretch;
}
.acb {
  align-content: baseline;
}
.tdu {
  text-decoration: underline;
}
.tdn {
  text-decoration: none;
}
.tal {
  text-align: left !important;
}
.tac {
  text-align: center !important;
}
.tar {
  text-align: right !important;
}
.ttc {
  text-transform: capitalize !important;
}
.ttu {
  text-transform: uppercase !important;
}
.ofh {
  overflow: hidden !important;
}
.ofx {
  overflow-x: scroll !important;
}
.ofy {
  overflow-y: scroll !important;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.noborder {
  border: none;
}
.imax {
  max-width: 100%;
  width: auto;
  height: auto;
}
.objc,
.overlay:before {
  width: 100%;
  height: 100%;
}
.m0 {
  margin: 0 !important;
}
.mt0 {
  margin-top: 0 !important;
}
.mr0 {
  margin-right: 0 !important;
}
.mb0 {
  margin-bottom: 0 !important;
}
.ml0 {
  margin-left: 0 !important;
}
.mx0 {
  margin-left: 0;
  margin-right: 0;
}
.ml1,
.mx1 {
  margin-left: 1vw;
}
.mr1,
.mx1 {
  margin-right: 1vw;
}
.my0 {
  margin-top: 0;
  margin-bottom: 0;
}
.mt1,
.my1 {
  margin-top: 1vw;
}
.mb1,
.my1 {
  margin-bottom: 1vw;
}
.m1 {
  margin: 1vw;
}
.ml2,
.mx2 {
  margin-left: 2vw;
}
.mr2,
.mx2 {
  margin-right: 2vw;
}
.mt2,
.my2 {
  margin-top: 2vw;
}
.m2 {
  margin: 2vw;
}
.mb2 {
  margin-bottom: 2vw !important;
}
.ml3,
.mx3 {
  margin-left: 3vw;
}
.mr3,
.mx3 {
  margin-right: 3vw;
}
.my2 {
  margin-bottom: 2vw;
}
.mt3,
.my3 {
  margin-top: 3vw;
}
.mb3,
.my3 {
  margin-bottom: 3vw;
}
.m3 {
  margin: 3vw;
}
.ml4,
.mx4 {
  margin-left: 4vw;
}
.mr4,
.mx4 {
  margin-right: 4vw;
}
.mt4,
.my4 {
  margin-top: 4vw;
}
.m4 {
  margin: 4vw;
}
.mb4 {
  margin-bottom: 4vw !important;
}
.ml5,
.mx5 {
  margin-left: 5vw;
}
.mr5,
.mx5 {
  margin-right: 5vw;
}
.my4 {
  margin-bottom: 4vw;
}
.mt5,
.my5 {
  margin-top: 5vw;
}
.m5 {
  margin: 5vw;
}
.mb5 {
  margin-bottom: 5vw !important;
}
.ml6,
.mx6 {
  margin-left: 6vw;
}
.mr6,
.mx6 {
  margin-right: 6vw;
}
.my5 {
  margin-bottom: 5vw;
}
.mt6,
.my6 {
  margin-top: 6vw;
}
.mb6,
.my6 {
  margin-bottom: 6vw;
}
.m6 {
  margin: 6vw;
}
.ml7,
.mx7 {
  margin-left: 7vw;
}
.mr7,
.mx7 {
  margin-right: 7vw;
}
.mt7,
.my7 {
  margin-top: 7vw;
}
.mb7,
.my7 {
  margin-bottom: 7vw;
}
.m7 {
  margin: 7vw;
}
.ml8,
.mx8 {
  margin-left: 8vw;
}
.mr8,
.mx8 {
  margin-right: 8vw;
}
.mt8,
.my8 {
  margin-top: 8vw;
}
.mb8,
.my8 {
  margin-bottom: 8vw;
}
.m8 {
  margin: 8vw;
}
.ml9,
.mx9 {
  margin-left: 9vw;
}
.mr9,
.mx9 {
  margin-right: 9vw;
}
.mt9,
.my9 {
  margin-top: 9vw;
}
.mb9,
.my9 {
  margin-bottom: 9vw;
}
.m9 {
  margin: 9vw;
}
.ml10,
.mx10 {
  margin-left: 10vw;
}
.mr10,
.mx10 {
  margin-right: 10vw;
}
.m10 {
  margin: 10vw;
}
.mt10 {
  margin-top: 10vw !important;
}
.mb10 {
  margin-bottom: 10vw !important;
}
.ml15,
.mx15 {
  margin-left: 15vw;
}
.mr15,
.mx15 {
  margin-right: 15vw;
}
.my10 {
  margin-top: 10vw;
  margin-bottom: 10vw;
}
.mb15,
.my15 {
  margin-bottom: 15vw;
}
.m15 {
  margin: 15vw;
}
.mt15 {
  margin-top: 15vw;
}
.mt30 {
  margin-top: 30vw;
}
.mt35 {
  margin-top: 35vw;
}
.ml-auto,
.mx-auto {
  margin-left: auto;
}
.mr-auto,
.mx-auto {
  margin-right: auto;
}
.my15 {
  margin-top: 15vw;
}
.mll-auto {
  margin: auto;
}
.p0 {
  padding: 0;
}
.pl0 {
  padding-left: 0 !important;
}
.px0 {
  padding-left: 0;
}
.pl0s,
.px0s {
  padding-left: 0.5vw;
}
.pr0s,
.px0s {
  padding-right: 0.5vw;
}
.pt0s,
.py0s {
  padding-top: 0.5vw;
}
.pb0s,
.py0s {
  padding-bottom: 0.5vw;
}
.p0s {
  padding: 0.5vw;
}
.pl1,
.px1 {
  padding-left: 1vw;
}
.pr1,
.px1 {
  padding-right: 1vw;
}
.pt1,
.py1 {
  padding-top: 1vw;
}
.pb1,
.py1 {
  padding-bottom: 1vw;
}
.p1 {
  padding: 1vw;
}
.pl2,
.px2 {
  padding-left: 2vw;
}
.pr2,
.px2 {
  padding-right: 2vw;
}
.pt2,
.py2 {
  padding-top: 2vw;
}
.pb2,
.py2 {
  padding-bottom: 2vw;
}
.p2 {
  padding: 2vw;
}
.pl3,
.px3 {
  padding-left: 3vw;
}
.pr3,
.px3 {
  padding-right: 3vw;
}
.pt3,
.py3 {
  padding-top: 3vw;
}
.pb3,
.py3 {
  padding-bottom: 3vw;
}
.p3 {
  padding: 3vw;
}
.pr4,
.px4 {
  padding-right: 4vw;
}
.pt4,
.py4 {
  padding-top: 4vw;
}
.pb4,
.py4 {
  padding-bottom: 4vw;
}
.p4 {
  padding: 4vw;
}
.pl4 {
  padding-left: 4vw !important;
}
.px4 {
  padding-left: 4vw;
}
.pb5,
.py5 {
  padding-bottom: 5vw;
}
.p5 {
  padding: 5vw;
}
.pt5 {
  padding-top: 5vw !important;
}
.pr5 {
  padding-right: 5vw !important;
}
.pl5 {
  padding-left: 5vw !important;
}
.px5 {
  padding-left: 5vw;
  padding-right: 5vw;
}
.py5 {
  padding-top: 5vw;
}
.pt6,
.py6 {
  padding-top: 6vw;
}
.pb6,
.py6 {
  padding-bottom: 6vw;
}
.p6 {
  padding: 6vw;
}
.pr6 {
  padding-right: 6vw !important;
}
.pl6 {
  padding-left: 6vw !important;
}
.px6 {
  padding-left: 6vw;
  padding-right: 6vw;
}
.pl7,
.px7 {
  padding-left: 7vw;
}
.pr7,
.px7 {
  padding-right: 7vw;
}
.pt7,
.py7 {
  padding-top: 7vw;
}
.pb7,
.py7 {
  padding-bottom: 7vw;
}
.p7 {
  padding: 7vw;
}
.pl8,
.px8 {
  padding-left: 8vw;
}
.pr8,
.px8 {
  padding-right: 8vw;
}
.pt8,
.py8 {
  padding-top: 8vw;
}
.pb8,
.py8 {
  padding-bottom: 8vw;
}
.p8 {
  padding: 8vw;
}
.pl9,
.px9 {
  padding-left: 9vw;
}
.pr9,
.px9 {
  padding-right: 9vw;
}
.pt9,
.py9 {
  padding-top: 9vw;
}
.pb9,
.py9 {
  padding-bottom: 9vw;
}
.p9 {
  padding: 9vw;
}
.pl10,
.px10 {
  padding-left: 10vw;
}
.pr10,
.px10 {
  padding-right: 10vw;
}
.pt10,
.py10 {
  padding-top: 10vw;
}
.pb10,
.py10 {
  padding-bottom: 10vw;
}
.p10 {
  padding: 10vw;
}
.pl11,
.px11 {
  padding-left: 11vw;
}
.pr11,
.px11 {
  padding-right: 11vw;
}
.pt11,
.py11 {
  padding-top: 11vw;
}
.pb11,
.py11 {
  padding-bottom: 11vw;
}
.p11 {
  padding: 11vw;
}
.pl12,
.px12 {
  padding-left: 12vw;
}
.pr12,
.px12 {
  padding-right: 12vw;
}
.pt12,
.py12 {
  padding-top: 12vw;
}
.pb12,
.py12 {
  padding-bottom: 12vw;
}
.p12 {
  padding: 12vw;
}
.pl13,
.px13 {
  padding-left: 13vw;
}
.pr13,
.px13 {
  padding-right: 13vw;
}
.pt13,
.py13 {
  padding-top: 13vw;
}
.pb13,
.py13 {
  padding-bottom: 13vw;
}
.p13 {
  padding: 13vw;
}
.pl14,
.px14 {
  padding-left: 14vw;
}
.pr14,
.px14 {
  padding-right: 14vw;
}
.pb14,
.py14 {
  padding-bottom: 14vw;
}
.p14 {
  padding: 14vw;
}
.pt14 {
  padding-top: 14vw !important;
}
.pl15,
.px15 {
  padding-left: 15vw;
}
.pr15,
.px15 {
  padding-right: 15vw;
}
.py14 {
  padding-top: 14vw;
}
.pt15,
.py15 {
  padding-top: 15vw;
}
.pb15,
.py15 {
  padding-bottom: 15vw;
}
.p15 {
  padding: 15vw;
}
.pl16,
.px16 {
  padding-left: 16vw;
}
.pr16,
.px16 {
  padding-right: 16vw;
}
.pt16,
.py16 {
  padding-top: 16vw;
}
.pb16,
.py16 {
  padding-bottom: 16vw;
}
.p16 {
  padding: 16vw;
}
.pl17,
.px17 {
  padding-left: 17vw;
}
.pr17,
.px17 {
  padding-right: 17vw;
}
.pt17,
.py17 {
  padding-top: 17vw;
}
.pb17,
.py17 {
  padding-bottom: 17vw;
}
.p17 {
  padding: 17vw;
}
.pl18,
.px18 {
  padding-left: 18vw;
}
.pr18,
.px18 {
  padding-right: 18vw;
}
.pt18,
.py18 {
  padding-top: 18vw;
}
.pb18,
.py18 {
  padding-bottom: 18vw;
}
.p18 {
  padding: 18vw;
}
.pl19,
.px19 {
  padding-left: 19vw;
}
.pr19,
.px19 {
  padding-right: 19vw;
}
.pt19,
.py19 {
  padding-top: 19vw;
}
.pb19,
.py19 {
  padding-bottom: 19vw;
}
.p19 {
  padding: 19vw;
}
.pl20,
.px20 {
  padding-left: 20vw;
}
.pr20,
.px20 {
  padding-right: 20vw;
}
.pt20,
.py20 {
  padding-top: 20vw;
}
.pb20,
.py20 {
  padding-bottom: 20vw;
}
.p20 {
  padding: 20vw;
}
.pl-auto,
.px-auto {
  padding-left: auto;
}
.pr-auto,
.px-auto {
  padding-right: auto;
}
.fs08 {
  font-size: 0.8vw;
}
.fs1,
.fs1r {
  font-size: 1vw;
}
.fs1s {
  font-size: 1.625vw;
}
.fs2 {
  font-size: 1.75vw;
}
.fs2s {
  font-size: 2.5vw;
}
.fs3 {
  font-size: 3.25vw;
}
.fs3s {
  font-size: 3.5vw;
}
.fs4 {
  font-size: 4.3125vw;
}
.fs4s {
  font-size: 4.5vw;
}
.fs5 {
  font-size: 5.625vw;
}
.fs5s {
  font-size: 5.5vw;
}
.fs6 {
  font-size: 6vw;
}
.fs6s {
  font-size: 6.5vw;
}
.fs7 {
  font-size: 7vw;
}
.fs7s {
  font-size: 7.5vw;
}
.fs8 {
  font-size: 8vw;
}
.fs8s {
  font-size: 8.5vw;
}
.fs9 {
  font-size: 9vw;
}
.fs9s {
  font-size: 9.5vw;
}
.fs10 {
  font-size: 10vw;
}
.fs10s {
  font-size: 10.5vw;
}
.lh1 {
  line-height: 1.4vw !important;
}
.lh1s {
  line-height: 1.625vw;
}
.lh2 {
  line-height: 1.75vw;
}
.lh2s {
  line-height: 2.5vw;
}
.lh3 {
  line-height: 3.25vw;
}
.lh3s {
  line-height: 3.5vw;
}
.lh4 {
  line-height: 4.3125vw;
}
.lh4s {
  line-height: 4.5vw;
}
.lh5 {
  line-height: 5.625vw;
}
.lh5s,
.lh6 {
  line-height: 6vw;
}
.lh6s {
  line-height: 6.5vw;
}
.lh7 {
  line-height: 7vw;
}
.lh7s {
  line-height: 7.5vw;
}
.lh8 {
  line-height: 8vw;
}
.lh8s {
  line-height: 8.5vw;
}
.lh9 {
  line-height: 9vw;
}
.lh9s {
  line-height: 9.5vw;
}
.lh10 {
  line-height: 10vw;
}
.lh10s {
  line-height: 10.5vw;
}
.ls1 {
  letter-spacing: 1px;
}
.ls2 {
  letter-spacing: 2px;
}
.ls3 {
  letter-spacing: 3px;
}
.ls4 {
  letter-spacing: 4px;
}
.ls5 {
  letter-spacing: 5px;
}
.zi1 {
  z-index: 1;
}
.zi2 {
  z-index: 2;
}
.zi3 {
  z-index: 3;
}
.zi4 {
  z-index: 4;
}
.zi5 {
  z-index: 5;
}
.zi6 {
  z-index: 6;
}
.zi7 {
  z-index: 7;
}
.zi8 {
  z-index: 8;
}
.zi9 {
  z-index: 9;
}
.zi10 {
  z-index: 10;
}
.fw400,
.nobold {
  font-weight: 400;
}
.objc {
  object-fit: cover;
  object-position: center;
}
.overlay:before {
  content: "";
  display: block;
  top: 0;
  left: 0;
  background: #00000075;
  z-index: 1;
}
.ls_1 {
  border: 1px solid #ccc;
  font-size: 1.5vw;
  line-height: 1.5vw;
  color: #000;
  display: inline-block;
  transition: background 0.2s ease-in !important;
  padding: 1vw 1.5vw 0.5vw 0.5vw;
}
.ls_1.active,
.ls_1:hover {
  background: #000;
  color: #fff;
  border-color: #000;
}
.bor_b {
  border-bottom: 1px solid;
}
.bor_t {
  border-top: 1px solid;
}
.bor_ct {
  border-color: transparent;
}
.bor_cw {
  border-color: #fff;
}
.bor_cb {
  border-color: #000;
}
.opc1 {
  opacity: 1 !important;
}
.opc0 {
  opacity: 0 !important;
}
.tun {
  text-transform: math-auto !important;
}
.cg {
  color: #7d6e66 !important;
}
.round-c {
  border-radius: 25px;
}
.round10 {
  border-radius: 10px;
}
.gap1 {
  gap: 1vw;
}
.gap2 {
  gap: 2vw;
}
.gap3 {
  gap: 3vw;
}
.gap4 {
  gap: 4vw;
}
.gap5 {
  gap: 5vw;
}
.gap6 {
  gap: 6vw;
}
.gap7 {
  gap: 7vw;
}
.gap8 {
  gap: 8vw;
}
.gap9 {
  gap: 9vw;
}
.gap10 {
  gap: 10vw;
}
.gap11 {
  gap: 11vw;
}
.gap12 {
  gap: 12vw;
}
.gap13 {
  gap: 13vw;
}
.gap14 {
  gap: 14vw;
}
.gap15 {
  gap: 15vw;
}
.lwbg {
  background: rgba(255, 255, 255, 0.13);
}
.clb {
  color: #5e93db !important;
}
.cb {
  color: #1d3c56 !important;
}
.db {
  color: #00253a !important;
}
.lblue {
  color: #00426a !important;
}
.bg-lb {
  background: #ffffff0d;
}
.dl-blue {
  color: rgba(0, 37, 58, 0.8);
}
.lb {
  color: #bdc9e9;
}
.gray {
  color: #7d7081;
}
.green {
  color: #759657;
}
.italic_style {
  font-style: italic;
}
.fw100 {
  font-weight: 100;
}
.fw200 {
  font-weight: 200;
}
.fw500 {
  font-weight: 500;
}
.fw600 {
  font-weight: 600 !important;
}
.lhn1 {
  line-height: 1 !important;
}
.lhn2 {
  line-height: 1.2 !important;
}
