
#svglogo.logoanim {
    animation-name: titleAnimation;
    animation-timing-function: ease;
    animation-duration: 1s
}


.titlebg.titleanim {
    animation: 1s cubic-bezier(.56, .17, .68, 1) 0.6s forwards slideUp
}